<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 로그인 페이지 </title>
</head>

<body>
    {% if message %}
    <script>
        alert("{{message}}")
    </script>
    {% endif %}

    <!-- 랜딩 오류나서 js 방식으로 구현해야 할듯 -->
    <form method="POST" action="/login">
        <input type="text" placeholder="아이디" name ="user_id">
        <input type="password" placeholder="비밀번호" name = "password">
        <button type="submit"> 로그인 </button>
    </form>
</body>

</html>